<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %-5p %c - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.inspiretmstech.api" level="${env:LOG_LEVEL:-INFO}">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache" level="warn">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache.http.client.protocol.ResponseProcessCookies" level="error">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.springframework" level="warn">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.jooq" level="error">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="OFF"/>
    </Loggers>
</Configuration>
